<div id="LL_left">

    <div id="LL_firstCont">

        <!-- My profile-->
        <div class="LL_myProfile">
            <ul class="LL-wrap-headers" id="LL_myProfile-head">
                <li class="active"><a><%= user.profile.firstName%> <%= user.profile.lastName%></a></li>
            </ul>
            <div>
                <div style="float: left">
                    <% if (user.profile.avatar != '') {%>
                        <div id="LL_myAvatar"> <img style="height: 100%; vertical-align:baseline " src="<%= user.profile.avatar %>">  </div>
                    <% } else { %>
                        <div id="LL_myAvatar"> <i class="fa fa-user" aria-hidden="true"></i></div>
                    <% } %>
                </div>
                <div style="float: left">
                    <ul id="LL_myProfile-settings">
                        <li><a href="">Сообщения</a></li>
                        <li><a href="">Оповещения</a> </li>
                        <li><a href="">Достижения</a> </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="LL_news1"> Новости </div>
    </div>

    <div id="LL_secondCont">
        <!-- Federation -->
        <div id="LL_federation">
            <div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:600px;height:430px;overflow:hidden;visibility:hidden;">
                <!-- Loading Screen -->
                <div data-u="loading" style="position:absolute;top:0px;left:0px;background-color:rgba(0,0,0,0.7);">
                    <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
                    <div style="position:absolute;display:block;background:url('../../public/images/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
                </div>
                <div data-u="slides" id="wrapslider" style="cursor:default;position:relative;top:0px;left:0px;width:600px;height:430px;overflow:hidden;">
                    <div data-p="112.50">
                        <img data-u="image" data-toggle="modal" data-target="#myFederations" src="../../public/images/fed_slide_1.jpg" style="cursor:pointer"/>
                        <div data-u="caption" data-t="0" style="position:absolute;top:320px;left:30px;width:350px;height:30px;z-index:0;background-color:black;opacity:0.7;font-size:25px;color:#ffffff;line-height:30px;text-align:center;">Мои федерации</div>
                    </div>
                    <div data-p="112.50">
                        <img data-u="image" data-toggle="modal" data-target="#myModal" src="../../public/images/fed_slide_2.jpg" style="cursor:pointer"/>
                        <div data-u="caption" data-t="0" style="position:absolute;top:320px;left:30px;width:350px;height:30px;z-index:0;background-color:black;opacity:0.7;font-size:25px;color:#ffffff;line-height:30px;text-align:center;">Создать федерацию</div>
                    </div>
                    <div data-p="112.50">
                        <img data-u="image" src="../../public/images/fed_slide_4.jpg" style="cursor:pointer"/>
                        <div data-u="caption" data-t="0" style="position:absolute;top:320px;left:30px;width:350px;height:30px;z-index:0;background-color:black;opacity:0.7;font-size:25px;color:#ffffff;line-height:30px;text-align:center;">Найти федерацию</div>
                    </div>
                </div>
                <!-- Bullet Navigator -->
                <div data-u="navigator" class="jssorb01" style="bottom:8px;right:8px;">
                    <div data-u="prototype" style="width:12px;height:12px;"></div>
                </div>
                <!-- Arrow Navigator -->
                <span data-u="arrowleft" class="jssora02l" style="top:0px;left:8px;width:55px;height:55px;" data-autocenter="2"></span>
                <span data-u="arrowright" class="jssora02r" style="top:0px;right:8px;width:55px;height:55px;" data-autocenter="2"></span>
            </div>
        </div>

        <!-- Team -->
        <div id="LL_team">

            <div id="jssor_2" style="position:relative;margin:0 auto;top:0px;left:0px;width:590px;height:430px;overflow:hidden;visibility:hidden;">
                <!-- Loading Screen -->
                <div data-u="loading" style="position:absolute;top:0px;left:0px;background-color:rgba(0,0,0,0.7);">
                    <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
                    <div style="position:absolute;display:block;background:url('../../public/images/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
                </div>
                <div data-u="slides" id="wrapslider" style="cursor:default;position:relative;top:0px;left:0px;width:590px;height:430px;overflow:hidden;">
                    <div data-p="112.50">
                        <img data-u="image" src="../../public/images/team_slider_1.png" />
                        <div data-u="caption" data-t="0" style="position:absolute;top:320px;left:30px;width:350px;height:30px;z-index:0;background-color:black;opacity:0.7;font-size:25px;color:#ffffff;line-height:30px;text-align:center;">Мои команды</div>
                    </div>
                    <div data-p="112.50">
                        <img data-u="image" data-toggle="modal" data-target="#myModal2" src="../../public/images/team_slider_2.png" style="cursor:pointer"/>
                        <div data-u="caption" data-t="0" style="position:absolute;top:320px;left:30px;width:350px;height:30px;z-index:0;background-color:black;opacity:0.7;font-size:25px;color:#ffffff;line-height:30px;text-align:center;">Создать команду</div>
                    </div>
                    <div data-p="112.50">
                        <img data-u="image" src="../../public/images/fed_slide_4.jpg" />
                        <div data-u="caption" data-t="0" style="position:absolute;top:320px;left:30px;width:350px;height:30px;z-index:0;background-color:black;opacity:0.7;font-size:25px;color:#ffffff;line-height:30px;text-align:center;">Найти команду</div>
                    </div>
                </div>
                <!-- Bullet Navigator -->
                <div data-u="navigator" class="jssorb01" style="bottom:8px;right:8px;">
                    <div data-u="prototype" style="width:12px;height:12px;"></div>
                </div>
                <!-- Arrow Navigator -->
                <span data-u="arrowleft" class="jssora02l" style="top:0px;left:8px;width:55px;height:55px;" data-autocenter="2"></span>
                <span data-u="arrowright" class="jssora02r" style="top:0px;right:8px;width:55px;height:55px;" data-autocenter="2"></span>
            </div>
        </div>
    </div>

</div>

<div id="LL_right">

    <div id="LL_thirdCont">
        <!-- Friends -->
        <div id="LL_friends">
            <div id="jssor_3" style="position:relative;margin:0 auto;top:0px;left:0px;width:590px;height:565px;overflow:hidden;visibility:hidden;">
                <!-- Loading Screen -->
                <div data-u="loading" style="position:absolute;top:0px;left:0px;background-color:rgba(0,0,0,0.7);">
                    <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
                    <div style="position:absolute;display:block;background:url('../../public/images/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
                </div>
                <div data-u="slides" id="wrapslider" style="cursor:default;position:relative;top:0px;left:0px;width:590px;height:565px;overflow:hidden;">
                    <div data-p="112.50">
                        <img data-u="image" src="../../public/images/friends_slider_1.png" />
                        <div data-u="caption" data-t="0" style="position:absolute;top:320px;left:30px;width:350px;height:35px;z-index:0;background-color:black;opacity:0.7;font-size:33px;color:#ffffff;line-height:30px;text-align:center;">Мои друзья</div>
                    </div>
                    <div data-p="112.50">
                        <img data-u="image" src="../../public/images/friends_slider_2.png" style="cursor:pointer"/>
                        <div data-u="caption" data-t="0" style="position:absolute;top:320px;left:30px;width:350px;height:35px;z-index:0;background-color:black;opacity:0.7;font-size:33px;color:#ffffff;line-height:30px;text-align:center;">Найти друзей</div>
                    </div>
                </div>
                <!-- Bullet Navigator -->
                <div data-u="navigator" class="jssorb01" style="bottom:8px;right:8px;">
                    <div data-u="prototype" style="width:12px;height:12px;"></div>
                </div>
                <!-- Arrow Navigator -->
                <span data-u="arrowleft" class="jssora02l" style="top:0px;left:8px;width:55px;height:55px;" data-autocenter="2"></span>
                <span data-u="arrowright" class="jssora02r" style="top:0px;right:8px;width:55px;height:55px;" data-autocenter="2"></span>
            </div>
        </div>

        <!-- Tournament -->
        <div id="LL_tournament">
            <div id="jssor_4" style="position:relative;margin:0 auto;top:0px;left:0px;width:590px;height:565px;overflow:hidden;visibility:hidden;">
                <!-- Loading Screen -->
                <div data-u="loading" style="position:absolute;top:0px;left:0px;background-color:rgba(0,0,0,0.7);">
                    <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
                    <div style="position:absolute;display:block;background:url('../../public/images/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
                </div>
                <div data-u="slides" id="wrapslider" style="cursor:default;position:relative;top:0px;left:0px;width:590px;height:565px;overflow:hidden;">
                    <div data-p="112.50">
                        <img data-u="image" src="../../public/images/tournament_slider_1.png" />
                        <div data-u="caption" data-t="0" style="position:absolute;top:320px;left:30px;width:350px;height:35px;z-index:0;background-color:black;opacity:0.7;font-size:33px;color:#ffffff;line-height:30px;text-align:center;">Мои турниры</div>
                    </div>
                    <div data-p="112.50">
                        <img data-u="image" src="../../public/images/tournament_slider_2.png" style="cursor:pointer"/>
                        <div data-u="caption" data-t="0" style="position:absolute;top:320px;left:30px;width:350px;height:35px;z-index:0;background-color:black;opacity:0.7;font-size:33px;color:#ffffff;line-height:30px;text-align:center;">Найти турнир</div>
                    </div>
                </div>
                <!-- Bullet Navigator -->
                <div data-u="navigator" class="jssorb01" style="bottom:8px;right:8px;">
                    <div data-u="prototype" style="width:12px;height:12px;"></div>
                </div>
                <!-- Arrow Navigator -->
                <span data-u="arrowleft" class="jssora02l" style="top:0px;left:8px;width:55px;height:55px;" data-autocenter="2"></span>
                <span data-u="arrowright" class="jssora02r" style="top:0px;right:8px;width:55px;height:55px;" data-autocenter="2"></span>
            </div>
        </div>

    </div>

    <div id="LL_fourthCont">

        <div id="LL_ad"> AD </div>

    </div>

</div>



<!-- Modal window for federation-->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog" id="LL_createFederationModal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Создание федерации</h4>
            </div>

            <div class="modal-body" style="width: 500px; height:auto; padding:40px">
                <form id="LL_createFederationForm" action="/" method="post">

                    <div class="field-wrap">
                        <label>
                            Название федерации<span class="req">*</span>
                        </label>
                        <input type=text id="LL_federName" name="LL_federName" >
                    </div>
                    <div class="field-wrap">
                        <select  name="LL_federSport" id="LL_federSport">
                            <% for(var i=0; i<sport.length; i++) {%>
                                <option value='<%= sport[i].value%>'><%= sport[i].value %></option>
                            <% } %>
                        </select>
                    </div>

                    <div class="field-wrap">
                        <label>
                            Описание<span class="req">*</span>
                        </label>
                        <textarea type="text" id="LL_federDesc" name="LL_federDesc"></textarea>
                    </div>
                    <div class="top-row">
                        <div class="field-wrap">
                            <select name="LL_country" id="LL_country">
                                <% for(var i=0; i<countries.length; i++) {%>
                                    <% if(countries[i].name == c) { %>
                                        <option selected value="<%= countries[i].name %>" data-id="<%= countries[i].country_id %>"><%= countries[i].name %></option>
                                    <% }else{ %>
                                        <option value="<%= countries[i].name %>" data-id="<%= countries[i].country_id %>"><%= countries[i].name %></option>
                                    <% } %>
                                <% } %>
                            </select>
                        </div>
                        <div class="field-wrap">
                            <select name="LL_city" id="LL_city">
                            </select>
                        </div>

                    </div>
                    <button id="LL_createFederation" type="submit" class="button button-block"/>Сохранить</button>

                </form>
            </div>
            <!--
            <div class="modal-footer">
                <button id="LL_buttonForSaveUserPhoto" type="button" class="button button-block" ></button>
            </div>
            -->
        </div>
    </div>
</div>


<!-- Modal window for team-->
<div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 500px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Создание команды</h4>
            </div>

            <div class="modal-body" style="width: 500px; height:auto; padding:40px">
                <form id="LL_createTeamForm" action="/" method="post">

                    <div class="field-wrap">
                        <label>
                            Название команды<span class="req">*</span>
                        </label>
                        <input type=text id="LL_teamName" name="LL_teamName" >
                    </div>
                    <div class="field-wrap">
                        <select  name="LL_teamSport" id="LL_teamSport">
                            <% for(var i=0; i<sport.length; i++) {%>
                                <option value='<%= sport[i].value%>'><%= sport[i].value %></option>
                            <% } %>
                        </select>
                    </div>

                    <div class="field-wrap">
                        <label>
                            Описание<span class="req">*</span>
                        </label>
                        <textarea type="text" id="LL_teamDesc" name="LL_teamDesc"></textarea>
                    </div>
                    <div class="top-row">
                        <div class="field-wrap">
                            <select name="LL_teamCountry" id="LL_teamCountry">
                                <% for(var i=0; i<countries.length; i++) {%>
                                    <% if(countries[i].name == c) { %>
                                        <option selected value="<%= countries[i].name %>" data-id="<%= countries[i].country_id %>"><%= countries[i].name %></option>
                                    <% }else{ %>
                                        <option value="<%= countries[i].name %>" data-id="<%= countries[i].country_id %>"><%= countries[i].name %></option>
                                    <% } %>
                                <% } %>
                            </select>
                        </div>
                        <div class="field-wrap">
                            <select name="LL_teamCity" id="LL_teamCity">
                            </select>
                        </div>

                    </div>
                    <button id="LL_createTeam" type="submit" class="button button-block"/>Сохранить</button>

                </form>
            </div>
        </div>
    </div>
</div>


<!-- Modal window for myFederations-->
<div id="myFederations" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 500px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Мои федерации</h4>
            </div>

            <div class="modal-body" style="width: 500px; height:auto; padding:40px">
                <% for (var i=0; i<federations.length; i++) { %>
                    <div style="display: block;">
                        <a href="/federation/?id=<%= federations[i]._id%>">
                            <div class="LL_federAvatar" style="background-image: <%= federations[i].federAvatar%>; background-size: cover; background-repeat: no-repeat"></div>
                            <div class="LL_federName"> <%= federations[i].federName%> </div>
                            <div class="LL_federSportType"> <%= federations[i].federSportType%> </div>
                        </a>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</div>