<div id="LL_contentDiv">
    <div id="LL_left">
        <div id="LL_federInfo">
            <div id="LL_federLogoCont">
                <div id="wrapLogo" data-toggle="modal" data-target="#myModal">
                    <div id="LL_federLogo">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </div>
                    <input id='photo_adress' type="text" style="display: none" >
                </div>
            </div>
            <div id="LL_federInfoCont">
                <div style="width: 100%">
                    <div class="LL_federCount">
                        <p> Подписчики </p>
                        <p class="LL_count"> <%= federation.users.length %> </p>
                    </div>
                    <div class="LL_federCount">
                        <p> Турниры </p>
                        <p class="LL_count"> <%= federation.tournaments.length %> </p>
                    </div>
                    <div class="LL_federCount">
                        <p> Мероприятия </p>
                        <p class="LL_count"> <%= federation.news.length %> </p>
                    </div>
                </div>
                <div style="width: 100%">
                    <p class="LL_caption" style="margin-left: 10px">
                        <% if (federation.federName == '' || federation.federName == undefined) {%>
                            Federation name
                        <% } else { %>
                            <%= federation.federName %>
                        <% }%>
                    </p>
                </div>
                <div style="width: 100%">
                    <% for (var i=0; i<head.length; i++) { %>
                        <% if (head[i]._id != thisUser) { %>
                            <button type="button" class="button-fed">Подписаться</button>
                    <% } }%>
                </div>
                <div style="width: 100%">
                    <p style="margin-left: 10px">
                        <% if (federation.federCountry == '' || federation.federCountry == undefined) {%>
                            Country,
                        <% } else { %>
                            <%= federation.federCountry %>,
                        <% }%>
                        <% if (federation.federCity == '' || federation.federCity == undefined) {%>
                            city
                        <% } else { %>
                            <%= federation.federCity %>
                        <% }%>
                    </p>
                    <p style="margin-left: 10px"> <%= federation.federSportType %> </p>
                </div>
            </div>
            <div id="fon">
                <div></div>
            </div>
        </div>

        <div id="LL_progressBar" >
            <div id="page" class="page">
                <div class="progress-bar" style="background-color: transparent">
                    <canvas id="inactiveProgress" class="progress-inactive" height="150px" width="150px"></canvas>
                    <canvas id="activeProgress" class="progress-active"  height="150px" width="150px"></canvas>
                    <p style="color: #44494f; ">0%</p>
                </div>
                <div id="progressControllerContainer">
                    <input type="range" id="progressController" min="0" max="100" value="7" style="display: none"/>
                </div>
            </div>
        </div>

        <div style="width: 100%">
            <div style="margin: 10px auto; width:90%; border:1px solid lightgrey; box-shadow:1px 1px 1px 1px darkgrey"></div>
        </div>

        <div class="LL_federationFolowers">
            <div style="width:90%; margin: 0 auto">
                <div class='LL_caption' style="float: left">Подписчики</div>
                <div><button type="button" class="button-fed" data-toggle="modal" data-target="#federationFolowers">Все подписчики</button></div>
            </div>
            <div style="width: 100%">
                <% for (var i=0; i<users.length; i++) { %>
                    <div class="LL_federationFolower">
                        <div>
                            <div class="LL_folowerPhoto" style="background-size: cover; background-repeat: no-repeat; background-image: url('<%= users[i].profile.avatar%>')"></div>
                        </div>
                        <div>
                            <p class="LL_folowerName"> <%= users[i].profile.firstName%> </br> <%= users[i].profile.lastName%> </p>
                            <button type="button" class="button-little" style="margin-left: 10px">Написать</button>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
        <div style="width: 100%">
            <div style="margin: 10px auto; width:90%; border:1px solid lightgrey; box-shadow:1px 1px 1px 1px darkgrey"></div>
        </div>
        <div class="LL_federationFolowers">
            <div style="width:90%; margin: 0 auto">
                <div class='LL_caption' style="float: left">Руководство</div>
                <div><button type="button" class="button-fed">Все руководители</button></div>
            </div>
            <div style="width: 100%">
                <% for (var i=0; i<users.length; i++) { %>
                    <div class="LL_federationFolower">
                        <div>
                            <div class="LL_folowerPhoto" style="background-size: cover; background-repeat: no-repeat; background-image: url('<%= head[i].profile.avatar%>')"></div>
                        </div>
                        <div>
                            <p class="LL_folowerName"> <%= head[i].profile.firstName%> </br> <%= head[i].profile.lastName%> </p>
                            <button type="button" class="button-little" style="margin-left: 10px">Написать</button>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>


    <div id="LL_right">
        <div id="LL_stem">
            <div class="LL_firstCircle">
                <div class="LL_secondCircle"></div>
            </div>
            <div class="LL_firstCircle" style="margin-top: 180px">
                <div class="LL_secondCircle"></div>
            </div>
            <div class="LL_firstCircle" style="margin-top: 180px">
                <div class="LL_secondCircle"></div>
            </div>
            <div class="LL_firstCircle" style="margin-top: 180px">
                <div class="LL_secondCircle"></div>
            </div>
        </div>
        <div id="LL_federEvents">
            <div id="LL_federEventsTop" style="min-width: 550px; min-height: 45px">
                <% for (var i=0; i<head.length; i++) { %>
                    <% if (head[i]._id == thisUser) { %>
                        <div style="width: 50%; float: left">
                            <button type="button" class="button-fed" data-toggle="modal" data-target="#myModalAddEvent" style="margin-left: 50px">Добавить событие</button>
                        </div>
                        <div style="float: left; width: 50%">
                            <select style="width: 155px; font-size: 1.5rem">
                                <option>Все</option>
                                <option>Новости</option>
                                <option>Турниры</option>
                                <option>Мероприятия</option>
                            </select>
                        </div>
                <% } else { %>
                    <div style="float: left; margin-left:20px; width: 50%">
                        <select style="width: 155px; font-size: 1.5rem">
                            <option>Все</option>
                            <option>Новости</option>
                            <option>Турниры</option>
                            <option>Мероприятия</option>
                        </select>
                    </div>
                <% } }%>
            </div>

            <div id="LL_wrapBranch">
                <div class="LL_branchShort"></div>
                <div class="LL_branchLong"></div>
                <div class="LL_branchShort" style="top: 600px"></div>
                <div id="lastBranch" class="LL_branchLong" style="top: 800px"></div>
            </div>

            <div id="LL_wrapContent" style="width: 100%">
                <div class="LL_federationEventCont LL_onShortBranch">
                    <div style="float: left">
                        <div class="LL_federationEvent">

                        </div>
                        <div style="float: left">
                            <i class="fa fa-heart LL_mark" aria-hidden="true" style="float: left"></i>
                            <p class="LL_mark2"> 12 </p>
                        </div>
                        <div style="float: left">
                            <i class="fa fa-comment LL_mark" aria-hidden="true" style="float: left"></i>
                            <p class="LL_mark2"> 12 </p>
                        </div>
                        <div style="float: left">
                            <i class="fa fa-share-alt LL_mark" aria-hidden="true" style="float: left"></i>
                            <p class="LL_mark2"> 12 </p>
                        </div>
                    </div>
                    <div class="LL_eventDesc">
                        <p> Description </p>
                    </div>
                </div>
                <div class="LL_federationEventCont LL_onLongBranch" style="top: 340px">
                    <div style="float: left">
                        <div class="LL_federationEvent">

                        </div>
                        <div style="float: left">
                            <i class="fa fa-heart LL_mark" aria-hidden="true" style="float: left"></i>
                            <p class="LL_mark2"> 12 </p>
                        </div>
                        <div style="float: left">
                            <i class="fa fa-comment LL_mark" aria-hidden="true" style="float: left"></i>
                            <p class="LL_mark2"> 12 </p>
                        </div>
                        <div style="float: left">
                            <i class="fa fa-share-alt LL_mark" aria-hidden="true" style="float: left"></i>
                            <p class="LL_mark2"> 12 </p>
                        </div>
                    </div>
                    <div class="LL_eventDesc">
                        <p> Description </p>
                    </div>
                </div>
                <div class="LL_federationEventCont LL_onShortBranch" style="top: 540px">
                    <div style="float: left">
                        <div class="LL_federationEvent">

                        </div>
                        <div style="float: left">
                            <i class="fa fa-heart LL_mark" aria-hidden="true" style="float: left"></i>
                            <p class="LL_mark2"> 12 </p>
                        </div>
                        <div style="float: left">
                            <i class="fa fa-comment LL_mark" aria-hidden="true" style="float: left"></i>
                            <p class="LL_mark2"> 12 </p>
                        </div>
                        <div style="float: left">
                            <i class="fa fa-share-alt LL_mark" aria-hidden="true" style="float: left"></i>
                            <p class="LL_mark2"> 12 </p>
                        </div>
                    </div>
                    <div class="LL_eventDesc">
                        <p> Description </p>
                    </div>
                </div>
                <div id="last" class="LL_federationEventCont LL_onLongBranch" style="top: 740px">
                    <div style="float: left">
                        <div class="LL_federationEvent">

                        </div>
                        <div style="float: left">
                            <i class="fa fa-heart LL_mark" aria-hidden="true" style="float: left"></i>
                            <p class="LL_mark2"> 12 </p>
                        </div>
                        <div style="float: left">
                            <i class="fa fa-comment LL_mark" aria-hidden="true" style="float: left"></i>
                            <p class="LL_mark2"> 12 </p>
                        </div>
                        <div style="float: left">
                            <i class="fa fa-share-alt LL_mark" aria-hidden="true" style="float: left"></i>
                            <p class="LL_mark2"> 12 </p>
                        </div>
                    </div>
                    <div class="LL_eventDesc">
                        <p> Description </p>
                    </div>
                </div>
                <div id="LL_seeMore">
                    Посмотреть ещё
                </div>
            </div>


        </div>
    </div>


    <!-- Modal window for federation's photo-->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Логотип федерации</h4>
                </div>

                <div class="modal-body">
                    <label for="LL_federationLogoToCrop" id="LL_testLabel" style="pointer-events: auto">
                        <div id="LL_choosePhoto"> <p>Кликните, чтобы загрузить фото с вашего компьютера </p></div>

                    </label>
                    <input type="file" id="LL_federationLogoToCrop" style="display: none;">
                </div>

                <div class="modal-footer">
                    <label for="LL_federationLogoToCrop2" id="LL_testLabel2" style="transform: none; left: 230px; text-align: center; display: none">
                        <div type="button" class="button-fed">Другое фото</div>
                    </label>
                    <input type="file" id="LL_federationLogoToCrop2" style="display: none;">
                    <button id="LL_buttonForSaveLogo" type="button-fed" class="button-fed" data-dismiss="modal">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
    <input type="text" style="display: none" id="x1" name="x1">
    <input type="text" style="display: none" id="y1" name="y1">
    <input type="text" style="display: none" id="width1" name="width1">
    <input type="text" style="display: none" id="height1" name="height1">
    <input type="text" style="display: none" id="image1" name="image1">
    <input type="text" style="display: none" id="image2" name="image2">



    <!-- Modal window for add event-->
    <div id="myModalAddEvent" class="modal fade" role="dialog">
        <div class="modal-dialog" style="width: 550px">
            <div class="modal-content">
                <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
                <script src="/js/map_ajax.js" type="text/javascript"></script>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Добавить событие</h4>
                </div>

                <div class="modal-body" style="height: auto; width: 550px">
                    <div class="form" style="display: block; margin: 0 auto; width: 100%">

                        <ul class="tab-group">
                            <li class="tab active"><a href="#tournament" style="width: 33%">Турнир</a></li>
                            <li class="tab"><a href="#event" style="width: 33%">Мероприятие</a></li>
                            <li class="tab"><a href="#news" style="width: 33%">Новость</a></li>
                        </ul>

                        <div class="tab-content">
                            <div id="tournament">
                                <form id="LL_tournamentForm" action="/" method="post">

                                    <div class="field-wrap">
                                        <label>
                                            Название<span class="req">*</span>
                                        </label>
                                        <input id="LL_tournamentName" name="LL_tournamentName">
                                    </div>
                                    <div class="field-wrap">
                                        <label class="active">
                                            Тип турнира<span class="req">*</span>
                                        </label>
                                        <select id="LL_tournamentType" name="LL_tournamentType">
                                            <option> Кубок </option>
                                            <option> Лига </option>
                                            <option> Группа + кубок </option>
                                        </select>
                                    </div>
                                    <div class="field-wrap">
                                        <div class="container" style="padding: 0; width: 100%">
                                            <div class="row" style="margin: 0">
                                                <div style="padding: 0; width: 100%">
                                                    <div class="form-group">
                                                        <div class='input-group date' id='datetimepicker'>
                                                            <input type='text' id="LL_dateTimeTournament"/>
                                                            <span class="input-group-addon">
                                                                <span class="glyphicon glyphicon-calendar"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field-wrap">
                                        <label>
                                            Описание<span class="req">*</span>
                                        </label>
                                        <textarea rows="4" id="LL_tournamentDescription" name="LL_tournamentDescription"></textarea>
                                    </div>
                                    <div class="field-wrap">

                                        <div id="LL_tournamentLocation" style="width: 100%; height: 400px"></div>
                                        <input type="hidden" id="LL_coordsX"/>
                                        <input type="hidden" id="LL_coordsY"/>
                                    </div>
                                    <button id="LL_addTournament" class="button button-block"/>Создать</button>

                                </form>
                            </div>

                            <div id="event" style="display: none">
                                <form id="LL_eventForm" action="/" method="post">
                                    <div class="field-wrap">
                                        <label>
                                            Название<span class="req">*</span>
                                        </label>
                                        <input id="LL_eventName" name="LL_eventName">
                                    </div>
                                    <div class="field-wrap">
                                        <div class="container" style="padding: 0; width: 100%">
                                            <div class="row" style="margin: 0">
                                                <div style="padding: 0; width: 100%">
                                                    <div class="form-group">
                                                        <div class='input-group date' id='datetimepicker2'>
                                                            <input type='text' id="LL_dateTimeEvent"/>
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="field-wrap">
                                        <label>
                                            Описание<span class="req">*</span>
                                        </label>
                                        <textarea rows="4" id="LL_eventDescription" name="LL_eventDescription"></textarea>
                                    </div>
                                    <div class="field-wrap">

                                        <div id="LL_eventLocation" style="width: 100%; height: 400px"></div>
                                        <input type="hidden" id="LL_coordsEventX"/>
                                        <input type="hidden" id="LL_coordsEventY"/>

                                    </div>
                                    <button id="LL_addEvent" class="button button-block"/>Создать</button>

                                </form>
                            </div>

                            <div id="news">
                                <form id="LL_newsForm" action="/" method="post">


                                    <div class="field-wrap">
                                        <label>
                                            Заголовок<span class="req">*</span>
                                        </label>
                                        <input id="LL_title" name="LL_title">
                                    </div>
                                    <div class="field-wrap">
                                        <label>
                                            Подзаголовок
                                        </label>
                                        <input id="LL_subtitle" name="LL_subtitle" >
                                    </div>

                                    <div class="field-wrap">
                                        <label>
                                            Текст новости<span class="req">*</span>
                                        </label>
                                        <textarea rows="8" type=text id="LL_text" name="LL_text" ></textarea>
                                    </div>
                                    <div class="field-wrap">
                                        <label>
                                            Ссылка на видео YouTube
                                        </label>
                                        <input id="LL_newsVideo" name="LL_newsVideo" >
                                    </div>
                                    <div class="field-wrap" id="LL_wrapnewsPhoto">
                                        <input type="file" id="LL_newsPhoto" name="LL_newsPhoto" multiple>
                                    </div>

                                    <button id="LL_addNews" class="button button-block"/>Создать</button>

                                </form>

                            </div>

                        </div><!-- tab-content -->

                    </div> <!-- /form -->
                </div>

            </div>
        </div>
    </div>


    <!-- Modal window for federation's photo-->
    <div id="federationFolowers" class="modal fade" role="dialog">
        <div class="modal-dialog" style="width: 550px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Подписчики федерации</h4>
                </div>
                <div class="modal-body" style="width: 550px">
                    <div id="LL_searchFolower"> Поиск подписчика </div>
                    <div>
                        <% for (var i=0; i<users.length; i++) { %>
                        <div>
                            <div class="LL_folowerPhoto" style="background-size: cover; background-repeat: no-repeat; background-image: url('<%= head[i].profile.avatar%>')"></div>
                        </div>
                        <div>
                            <p class="LL_folowerName"> <%= head[i].profile.firstName%> <%= head[i].profile.lastName%> </p>
                        </div>
                        <div>
                            <button type="button" class="button-little" style="margin-left: 10px">Написать</button>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>