<%- include("../../partials/product/heads/headForMainPage.ejs") %>
<div id="LL_header">
    <%- include("../../partials/product/header.ejs") %>
</div>
<div style="width: 100%">
    <!--
    <div id="LL_navigation">
        <%- include("../../partials/product/navigation.ejs") %>
    </div>-->

    <div id="LL_content">
        <%- include("../../partials/product/content.ejs") %>
    </div>
</div>


<%- include("../../partials/product/footers/footerMain.ejs") %>
<script type="text/javascript">jssor_1_slider_init();</script>
<script type="text/javascript">jssor_2_slider_init();</script>
<script type="text/javascript">jssor_3_slider_init();</script>
<script type="text/javascript">jssor_4_slider_init();</script>

