<%- include("../../partials/product/heads/headForTournamentPaje.ejs") %>
<div id="LL_header">
    <%- include("../../partials/product/header.ejs") %>
</div>
<div style="display: inline-flex; height: 100%">
    <!--
    <div id="LL_navigation">
        <%- include("../../partials/product/navigation.ejs") %>
    </div> -->

    <div id="LL_content">
        <%- include("../../partials/product/tournament.ejs") %>
    </div>
</div>


<%- include("../../partials/product/footers/footerTournament.ejs") %>
<!--
<script>
    $( function() {
        $( "#LL_tournamentGrid" ).sortable({
            revert: true
        });
        $( "#draggable" ).draggable({
            connectToSortable: "#sortable",
            helper: "clone",
            revert: "invalid"
        });
        $( "ul, li" ).disableSelection();
    } );
</script>
-->